<div class="sinlge-bar shopping">
    <a href="#" class="single-icon"><i class="fa fa-solid fa-shopping-bag"></i></i> <span class="total-count">2</span></a>
    Shopping Item
    <div class="shopping-item">
        <div class="dropdown-cart-header">
            <span> @Html.ActionLink("Cart(" + Session["CartCounter"] + ")", "Cart", "Products", new { id = "cartItem" })</span>
            <a href="#">View Cart</a>

        </div>
        @*<ul class="shopping-list">
                <li>
                    <a href="#" class="remove" title="Remove this item"><i class="fa fa solid fa-times"></i></a>
                    <a class="cart-img" href="#"><img src="~/Content/images/sampulraya.jpg" alt="#"></a>
                    <h4><a href="#">Sampul Raya 2021</a></h4>
                    <p class="quantity">1x - <span class="amount">RM20.00</span></p>
                </li>
                <li>
                    <a href="#" class="remove" title="Remove this item"><i class="fa fa solid fa-times"></i></a>
                    <a class="cart-img" href="#"><img src="~/Content/images/shirt.png" alt="#"></a>
                    <h4><a href="#">GDEX Limited Shirt (M)</a></h4>
                    <p class="quantity">2x - <span class="amount">RM80.00</span></p>
                </li>
            </ul>*@
        @*<div class="bottom">
                <div class="total">
                    <span>Total</span>
                    <span class="total-amount">RM100.00</span>
                </div>
                <a href="checkout.html" class="btn animate">Checkout</a>
            </div>*@
        @*</div>*@
        <!--/ End Shopping Item -->
    </div>
